@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('YanoneKaffeesatz-Bold.eot');
    src: url('YanoneKaffeesatz-Bold.eot?#iefix') format('embedded-opentype'),
        url('YanoneKaffeesatz-Bold.woff2') format('woff2'),
        url('YanoneKaffeesatz-Bold.woff') format('woff'),
        url('YanoneKaffeesatz-Bold.ttf') format('truetype'),
        url('YanoneKaffeesatz-Bold.svg#YanoneKaffeesatz-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

