@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('YanoneKaffeesatz-Light.eot');
    src: url('YanoneKaffeesatz-Light.eot?#iefix') format('embedded-opentype'),
        url('YanoneKaffeesatz-Light.woff2') format('woff2'),
        url('YanoneKaffeesatz-Light.woff') format('woff'),
        url('YanoneKaffeesatz-Light.ttf') format('truetype'),
        url('YanoneKaffeesatz-Light.svg#YanoneKaffeesatz-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

