@import '../assets/fonts/YanoneKaffeesatz/yanoneKaffeesatz.css';
@import '../assets/fonts/Museo/Museo.css';
@tailwind preflight;
@tailwind components;
/*------------------------------------*\
  # HERE GOES COMPLEX COMPONENTS
\*------------------------------------*/

/**
 * Body global styles
 */
body {
  @apply bg-grey-lightest font-sans;
}

/**
 * File Uploader configuration
 */
input[type='file'] {
  @apply w-1 h-1 opacity-0 overflow-hidden absolute z--1;
}
input[type='file']:focus + label {
  outline: 1px dotted #000;
  outline: grey auto 5px;
}

*:focus {
  outline-color: grey;
}

/**
 * Nav Menu acts as container of navigation links
 */
.nav-menu {
  @apply list-reset flex flex-col fixed pin-t pin-l bg-black w-0 h-full overflow-hidden z-10;
  transition: 0.5s;
}

/**
 * Open and Close the menu, only on mobile
 */
.open-menu {
  @apply mr-3;
}

.close-menu {
  @apply text-right mt-3;
}

/**
 * Nav Item acts as container of single navigation link
 */
.nav-item {
  @apply w-full font-bold border-b-2 border-solid border-white text-center;
}

.nav-item:hover {
  @apply border-white;
}

.nav-link {
  @apply text-white no-underline w-full block py-4;
}

/**
 * Styling for the placehorders' search bar
 */
#search::placeholder {
  @apply text-xs tracking-wide;
}

/**
 * Align list sets custom style for list on content
 */
.align-list {
  @apply pl-0 list-reset;
}

.align-list li {
  @apply mb-2;
}

.align-list li::before {
  content: '•';
  @apply text-grey-darker pr-3;
}

/**
 * Form Control Styles the acts as shortcuts for input styles
 */
.control-container {
  @apply w-full mb-2 relative;
}

.control-field {
  @apply w-full h-10 px-4 pl-2 pr-10 font-museo font-bold text-sm text-blue-darker border border-solid border-grey;
}

.control-field::placeholder {
  @apply font-museo font-normal text-sm text-grey-dark;
}

.field-content {
  @apply w-full;
}

.chevron-select {
  @apply absolute pin-t pin-r m-3 text-grey;
  top: 1px;
}

/**
 * Tailwind complement for hide elements from the DOM
 */
.display-none {
  display: none;
}

/**
 * ReactJS Datepicker wrapper requires to include a full width setup
 */
.react-datepicker-wrapper {
  @apply w-full;
}

.react-datepicker__input-container {
  @apply w-full;
}

/*------------------------------------*\
  # MEDIA QUERIES FOR LARGE DISPLAY
\*------------------------------------*/
@screen lg {
  .open-menu,
  .close-menu {
    display: none;
  }

  .nav-menu {
    @apply static flex-row w-auto h-auto;
  }

  .nav-item {
    @apply w-auto border-transparent text-sm text-left mx-3;
  }

  .nav-link {
    @apply py-0;
  }

  .field-content {
    @apply w-1/2 min-w-1/2;
  }

  .field-content:nth-child(odd) {
    @apply pr-4;
  }
}

@tailwind utilities;
