@font-face {
  font-family: 'Museo';
  src: url('Museo500-Regular.eot');
  src: url('Museo500-Regular.eot?#iefix') format('embedded-opentype'),
    url('Museo500-Regular.woff2') format('woff2'),
    url('Museo500-Regular.woff') format('woff'),
    url('Museo500-Regular.ttf') format('truetype'),
    url('Museo500-Regular.svg#Museo500-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
